.android/
.cache/
.config/BraveSoftware/
.config/Code/
.config/GitKraken/
.config/Google/
.config/discord/
.config/spotify/
.config/teams-for-linux/
.dart-tool/
.dartServer/
.eclipse/
.gitkraken/
.gradle/
.java/
.local/share/
.mozilla
.npm/
.pub-cache/
.steam/
.vscode/
Android/
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos
development/
