[user]
	name = Ye Thatoe Kyaw
	email = thatoe@pm.me
	signingKey = ~/.ssh/id_ed25519.pub
[commit]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[push]
	autoSetupRemote = true
[tag]
	forceSignAnnotated = true
