.android/
.cache/
.config/Code/
.config/GitKraken/
.config/Google/
.config/bruno/
.config/chromium/
.config/discord/
.config/spotify/
.config/teams-for-linux/
.dart-tool/
.dartServer/
.docker/
.dotnet/
.eclipse/
.gitkraken/
.gnupg/
.gradle/
.java/
.local/
.mozilla/
.npm/
.pki/
.pub-cache/
.steam/
.vscode/
Android/
develop/
Desktop
Documents
Downloads
Music
Pictures
Videos
