.android/
.cache/
.cargo/
.config/Code/
.config/GitKraken/
.config/Google/
.config/chromium/
.config/discord/
.config/spotify/
.config/teams-for-linux/
.dartServer/
.gitkraken/
.local/share/
.mozilla/
.npm
.pub-cache/
.steam/
.vscode/
Android/
Desktop
Documents
Downloads
Music
Pictures
Public
Templates
Videos
development/
